# Node modules
node_modules
challenges/**/node_modules

# Next.js build output
challenges/**/.next
challenges/**/out
challenges/**/build
challenges/**/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (per project)
challenges/**/.env
challenges/**/.env.local
challenges/**/.env.development.local
challenges/**/.env.test.local
challenges/**/.env.production.local

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

